@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Fraunces");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Inter");

root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
@layer components {
  .navbar {
    @apply flex justify-between items-center;
    @apply h-[30px] md:h-[50px] lg:h-[50px] bg-[#25252a];
    @apply px-7 md:px-10 lg:px-10;
  }

  .mylogo {
    @apply rounded-full object-contain;
    @apply h-[20px] md:h-[40px] lg:h-[40px];
  }

  .navbar-links-group {
    @apply flex gap-[20px] md:gap-[50px] lg:gap-[50px];
  }

  .navbar-button {
    @apply text-sm md:text-base lg:text-lg font-inter;
    @apply hover:text-[#E8C178] transition;
  }
}

/* Hero Section */
@layer components {
  .hero-section {
    @apply flex bg-[#34353A] h-2/3 md:h-2/3 lg:h-screen;
    @apply px-4 md:px-8 lg:px-10 bg-cover bg-right-bottom bg-no-repeat;
    @apply pt-10 md:pt-28;
    background-image: url("/myphoto7bw.png");
    background-size: 40% auto;
  }

  /* Container inside Hero Section */
  .hero-container {
    @apply flex flex-col items-start justify-center;
    @apply ml-[3%] md:ml-[6%] lg:ml-[6%];
    @apply mr-[40%] md:mr-[45%] lg:mr-[45%] py-[10%];
  }

  /* Text Styling */
  .hero-text {
    @apply text-sm md:text-2xl lg:text-3xl;
    @apply text-gray-100 font-fraunces;
  }

  .hero-name {
    @apply text-xl md:text-3xl lg:text-5xl;
    @apply text-[#E8C178] font-fraunces font-medium lg:pb-2;
  }

  .hero-image-container {
    @apply flex justify-center items-center;
  }

  .description {
    @apply text-sm md:text-xl lg:text-2xl;
    @apply text-gray-100 font-inter py-1;
  }

  /* Contact Me Button */
  .contact-btn {
    @apply h-[25px] md:h-[40px] lg:h-[50px];
    @apply w-[85px] md:w-[125px] lg:w-[150px];
    @apply text-sm md:text-base lg:text-xl;
    @apply text-[#E8C178] font-inter;
    @apply border-[#E8C178] border-[1px] md:border-[3px] lg:border-[3px];
    @apply hover:bg-black rounded-lg transition duration-300;
    @apply mt-1 md:mt-2 lg:mt-6 px-[1px];
  }
}

/* About Me Section */
@layer components {
  .aboutme-section {
    @apply flex flex-col h-1/3;
    @apply bg-[#34353A] font-fraunces;
    @apply px-6 md:px-14 lg:px-28;
    @apply py-2 md:py-3 lg:py-8;
  }

  .aboutme-title {
    @apply text-xl md:text-3xl lg:text-4xl;
    @apply text-gray-100 font-semibold;
  }

  .aboutme-text {
    @apply text-sm md:text-xl lg:text-2xl;
    @apply text-gray-100 font-inter;
    @apply ml-4 md:ml-8 lg:ml-12;
    @apply md:mt-3 lg:mt-8;
  }
}

/* Skills Section */
@layer components {
  .skills-section {
    @apply h-1/2 bg-[#34353A];
    @apply px-6 md:px-14 lg:px-28;
    @apply py-2 md:py-3 lg:py-8;
  }

  .skills-title {
    @apply text-xl md:text-3xl lg:text-4xl;
    @apply text-gray-100 text-center font-fraunces font-semibold;
    @apply pb-[12px] md:pb-[30px] lg:pb-[50px];
  }

  .skills-group-container {
    @apply flex flex-col gap-3 md:gap-8 lg:gap-10;
  }

  .skills-group {
    @apply relative flex items-center justify-center;
    @apply gap-3 md:gap-5 lg:gap-10;
  }

  .skills-icon-container {
    @apply flex flex-col items-center justify-center;
    @apply h-[80px] md:h-[150px] lg:h-[250px];
    @apply w-[80px] md:w-[150px] lg:w-[250px];
    @apply bg-[#28292c] rounded-xl shadow-md;
    @apply hover:bg-[#E8C178] transition;
  }

  .skills-image {
    @apply h-[25px] md:h-[50px] lg:h-[100px];
    @apply w-[25px] md:w-[50px] lg:w-[100px];
  }

  .text-skills {
    @apply text-sm md:text-xl lg:text-2xl;
    @apply text-gray-100 font-inter;
    @apply pt-1 md:pt-2 lg:pt-3;
  }
}

/* Portfolio Section */
@layer components {
  .portfolio-section {
    @apply bg-[#34353A];
    @apply px-6 md:px-14 lg:px-28;
    @apply py-2 md:py-3 lg:py-8;
  }

  .portfolio-title {
    @apply text-center text-xl md:text-3xl lg:text-4xl;
    @apply text-gray-100 font-fraunces font-semibold;
    @apply pb-3 md:pb-5 lg:pb-10 md:pt-5;
  }

  .portfolio-group {
    @apply flex justify-center items-center;
    @apply gap-4 md:gap-6 lg:gap-10;
    @apply pb-4 md:pb-6 lg:pb-10;
  }

  .portfolio-image-container {
    @apply relative flex items-center justify-center;
    @apply h-[170px] md:h-[250px] lg:h-[300px];
    @apply w-[170px] md:w-[250px] lg:w-[300px];
    @apply bg-[#28292c] shadow-md;
  }

  .portfolio-image {
    @apply w-full h-full object-cover;
  }

  .portfolio-overlay {
    @apply flex justify-center items-center;
    @apply text-sm md:text-base lg:text-xl font-inter;
    @apply absolute inset-0 transition-all duration-500;
    @apply bg-black/50 opacity-0 group-hover:opacity-100;
  }

  .portfolio-text {
    @apply text-sm md:text-xl lg:text-xl;
    @apply text-gray-100 font-inter;
    @apply ml-4 md:ml-10 lg:ml-12;
    @apply mt-2 md:mt-6 lg:mt-8;
  }

  .portfolio-text-list {
    @apply flex flex-col text-sm md:text-xl lg:text-xl;
    @apply text-gray-100 font-inter;
    @apply md:ml-10 lg:ml-12;
  }

  .portfolio-star-title {
    @apply text-xl md:text-2xl lg:text-4xl;
    @apply text-gray-100 font-inter;
    @apply ml-4 md:ml-10 lg:ml-12;
    @apply mt-2 md:mt-6 lg:mt-8;
  }
}

/* Experience Section */
@layer components {
  .experience-section {
    @apply bg-[#28292c];
    @apply pl-4 md:pl-14 lg:pl-28;
    @apply pr-4 md:pr-10 lg:pr-28;
    @apply pt-4 md:pt-6 lg:pt-8;
    @apply pb-4 md:pb-10 lg:pb-14;
  }
  /* 
  @apply px-6 md:px-14 lg:px-28;
  @apply py-2 md:py-3 lg:py-8; */

  .experience-title {
    @apply text-xl md:text-3xl lg:text-4xl;
    @apply text-gray-100 font-fraunces font-semibold;
    @apply mt-1 md:mt-2 lg:mt-5;
    @apply ml-2 md:ml-0 lg:ml-0;
  }

  .experience-group {
    @apply flex gap-4 md:gap-6 lg:gap-8;
    @apply ml-2 md:ml-8 lg:ml-12;
    @apply mt-4 md:mt-6 lg:mt-10;
  }

  .experience-text {
    @apply text-xl md:text-2xl lg:text-4xl;
    @apply text-gray-100 font-inter;
  }

  .experience-group-year {
    @apply flex w-[100px] md:w-1/6 lg:w-1/6 justify-end;
  }

  .experience-year {
    @apply text-base md:text-xl lg:text-2xl;
    @apply text-gray-100 font-fraunces;
  }

  .experience-group-symbol {
    @apply flex;
  }

  .experience-symbol {
    @apply flex h-full w-1 bg-[#E8C178] rounded-sm;
  }

  .experience-group-text {
    @apply flex flex-col w-full md:w-full lg:w-[800px];
  }

  .experience-job-title {
    @apply text-xl md:text-2xl lg:text-3xl;
    @apply text-[#E8C178] font-fraunces;
  }

  .experience-job-location {
    @apply text-base md:text-xl lg:text-2xl;
    @apply text-[#E8C178] font-fraunces;
  }

  .experience-job-desc {
    @apply text-base md:text-xl lg:text-xl;
    @apply text-gray-100 font-inter ml-6;
  }
}

/* Testimonial Section */
@layer components {
  .testimonial-section {
    @apply h-1/2 bg-[#34353A];
    @apply px-6 md:px-14 lg:px-28;
    @apply pt-4 md:pt-3 lg:pt-8;
    @apply pb-4 md:pb-10 lg:pb-14;
  }

  .testimonial-title {
    @apply text-xl md:text-3xl lg:text-4xl;
    @apply text-gray-100 font-fraunces font-semibold;
    @apply mt-1 md:mt-2 lg:mt-5;
  }

  .testimonial-container {
    @apply flex flex-col md:flex-row lg:flex-row;
    @apply items-center justify-center;
    @apply gap-3 md:gap-5 lg:gap-8;
  }

  .testimonial-container-shape {
    @apply flex w-4 md:w-8 lg:w-16 items-center;
  }

  .testimonial-shape {
    @apply flex bg-[#E8C178] rounded-sm;
    @apply w-0 md:w-full lg:w-full h-1;
  }

  .testimonial-text-group {
    @apply flex w-full md:w-[370px] lg:w-1/3;
  }

  .testimonial-text {
    @apply text-base md:text-xl lg:text-xl;
    @apply text-gray-100 font-inter;
  }

  .testimonial-picture-container {
    @apply flex justify-center items-center;
  }

  .testimonial-picture {
    @apply flex bg-[#E8C178];
    @apply h-[150px] md:h-[250px] lg:h-[400px];
    @apply w-[150px] md:w-[250px] lg:w-[400px];
    @apply rounded-full object-contain;
  }
}

/* Contact Me */
@layer components {
  .contactme-section {
    @apply h-1/2 bg-[#28292c];
    @apply px-4 md:px-14 lg:px-28;
    @apply py-4 md:py-8 lg:py-8;
  }

  .contactme-title {
    @apply text-xl md:text-3xl lg:text-4xl;
    @apply text-gray-100 font-fraunces;
    @apply text-center font-semibold;
  }

  .contactme-text {
    @apply flex justify-center items-center;
    @apply mt-4 md:mt-6 lg:mt-10;
    @apply text-base md:text-xl lg:text-xl;
    @apply text-gray-100 text-center font-inter;
  }

  .contactme-box-group {
    @apply flex flex-col md:flex-row lg:flex-row;
    @apply justify-center items-center;
    @apply gap-0 md:gap-4 lg:gap-5;
  }

  .contactme-box {
    @apply flex justify-center items-center gap-2;
    @apply w-[300px] md:w-[400px] lg:w-[400px];
    @apply h-[30px] md:h-[40px] lg:h-[50px];
    @apply bg-black transition rounded-xl;
    @apply border-[2px] border-[#E8C178];
    @apply mt-4 md:mt-4 lg:mt-5;
  }

  .contactme-container {
    @apply flex flex-col items-center;
    @apply mt-4 md:mt-6 lg:mt-10 gap-5;
  }

  .contactme-box-image {
    @apply w-[20px] md:w-[25px] lg:w-[25px];
    @apply h-[20px] md:h-[25px] lg:h-[25px];
    @apply object-cover;
  }

  .contactme-box-text {
    @apply text-base md:text-xl lg:text-xl;
    @apply text-[#E8C178] font-inter;
  }

  .contactme-input {
    @apply w-[300px] md:w-[400px] lg:w-[500px];
    @apply h-[30px] md:h-[50px] lg:h-[50px];
    @apply text-black rounded-sm p-2;
  }

  .contactme-message {
    @apply w-[300px] md:w-[400px] lg:w-[500px];
    @apply h-[100px] md:h-[150px] lg:h-[150px];
    @apply text-black text-left text-base rounded-sm p-2;
  }

  .contactme-btn {
    @apply h-[25px] md:h-[40px] lg:h-[50px];
    @apply w-[85px] md:w-[150px] lg:w-[150px];
    @apply text-sm md:text-base lg:text-xl;
    @apply text-[#E8C178] font-inter;
    @apply border-[#E8C178] border-[1px] md:border-[3px] lg:border-[3px];
    @apply hover:bg-black rounded-lg transition p-[1px] duration-300;
  }

  .social-links-container {
    @apply flex justify-center items-center gap-5;
  }
  .social-links {
    @apply mt-10 w-[30px] h-[30px];
  }
}
